@tailwind base;
@tailwind components;
@tailwind utilities;
@import 'flowbite';


th {
    background: rgb(11 23 57);
  
    color: white;
}

.celda {
    display: inline-flex;
    gap: 20px;
}

.boton {
    background: #60a5fa;
    padding: 5px;
}

.ti-pencil {
    color:white;
    font-size: 30px;
}

.eliminar {
    padding: 5px;
    background: red;
}

.ti-trash {
  font-size: 30px;
  color: white;
}

@media (max-width: 400px) {
    #unifica {
        padding: 0px;
        padding-left: 15px;
        padding-right: 15px;
        padding-bottom: 10px;
    
    }
  }